@model GroceryShop.Models.Category

@{
    ViewBag.Title = "Create Category";
      Layout = "~/Views/Shared/_AdminLayout.cshtml";

}




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createCategory" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4  class="ml-3">Create Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary ml-1" })

                @*<button id="saveCategory" class="btn btn-default">Save</button>*@
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    
    @*$("#saveCategory").click(function () {
        Console.log("Saving....");
			$.ajax({
				type: 'POST',
				url: '@Url.Action("Create", "Category")',
                data: $("#createCategory").serialize()
            })
            .done(function (response) {
                $("#tableContiner").html(response);
                $("#actionContainer").html("");
                focusAction("tableContiner");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
                });
    });*@

</script>