@model IEnumerable<GroceryShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="btn-toolbar ml-4" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            @*<button type="button" class="btn btn-secondary"></button>*@
            @Html.ActionLink("Pending", "Index", new { status = "Pending" }, new { @class = "btn btn-primary btn-block mb-1" })


        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            @*<button type="button" class="btn btn-secondary">5</button>*@
            @Html.ActionLink("In Progress", "Index", new { status = "InProgress" }, new { @class = "btn btn-primary btn-block mb-1" })

        </div>
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            @*<button type="button" class="btn btn-secondary">8</button>*@
            @Html.ActionLink("Delivered", "Index", new { status = "Delivered" }, new { @class = "btn btn-primary btn-block mb-1" })

        </div>
        <div class="btn-group" role="group" aria-label="Fourth group">
            @*<button type="button" class="btn btn-secondary">8</button>*@
            @Html.ActionLink("Reset", "Index", null, new { @class = "btn btn-primary btn-block mb-1" })

        </div>
    </div>
    <div class="card">
      
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.UserID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Datetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>
                                    No Product Found!
                                </td>

                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datetime)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>


                        <td class="text-center">

                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-block mb-1" })

                        </td>
                    </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

